@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #f1f2e6;
}
/* ------------- COLORES GENERALES ----------------------------------------------*/
.texto_blanco {
  color: #fff;
}
.texto_negro {
  color: #000;
}
.texto_verde_1 {
  color: #086777;
}
.texto_verde_2 {
  color: #747c27;
}
.fondo_general_blanco {
  background-color: #fff;
}
.fondo_general_negro {
  background-color: #000;
}
.fondo_general_verde_1 {
  background-color: #086777;
}
.fondo_general_verde_2 {
  background-color: #747c27;
}
.fondo_general_gris {
  background-color: #d8d8d8;
}
/* ------------- NAV PRINCIPAL ----------------------------------------------*/
#navegador_principal {
  width: 100%;
  height: 96px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  position: fixed;
  z-index: 10000;
}
#corrector_altura {
  width: 100%;
  height: 96px;
}
#navegador_1 {
  width: 100%;
  height: 96px;
  position: absolute;  
}
#navegador_2 {
}
.fondo_blanco_1 {
  background-color: #fff;
  width: 50%;
  height: 100%;
  float: left;
}
.fondo_verde_1 {
  background-color: #086777;
  width: 50%;
  height: 100%;
  float: right;
}
.fondo_verde_2 {
  background-color: #747c27;
  width: 100%;
  height: 36px;
  position: relative;
}
.fondo_navegador {
  position: relative;
  background-color: #086777;
}
#contenedor_logo {
  background-image: url("../images/principales/fondo_logo_FOCCADI.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  float: left;
  width: 190px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.logo_principal {
  width: 100px;
  padding-top: 7px;
  padding-bottom: 6px;
}
#navegador_top {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
#navegador_top_2 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  float: left;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
#navegador_top_2 > li {
  float: left;
  position: relative;
  display: block;
}
#navegador_bottom {
  position: absolute;
  top: 46px;
  right: 0;
  display: none;
}
#navegador_bottom_2 {
  position: absolute;
  top: 96px;
  right: 0;
  display: block;
  list-style: none;
  background-color: #747c27;
  padding: 0;
  display: none
}
#navegador_bottom_2 li {
  margin: 0;
}
#navegador_bottom_2 li > a {
  margin: 0;
  padding: 10px 15px;
  display: block;
}
#navegador_bottom_2 li > a:hover {
  text-decoration: none;
  color: #086777;
  background-color: #fff;
}
#boton_menu {
  position: absolute;
  top: 55px;
  right: 0;
  display: block;
}
#boton_menu > i {
  font-size: 150%;
}
#boton_menu:focus {
  color: #adadad;
}
#boton_menu > i:hover {
  color: #adadad;
}
.enlace_top {
  height: 46px;
  line-height: 20px !important;
  font-weight: bold;
}
.enlace_bottom {
  font-size: 120%;
  height: 94px;
  line-height: 60px !important;
}
.enlace_top:hover,
.enlace_top:focus,
.enlace_bottom:hover,
.enlace_bottom:focus {
  color: #086777 !important;
}
.enlace_top:hover > i,
.enlace_top:focus > i,
.enlace_bottom:hover > i,
.enlace_bottom:focus > i {
  color: #086777 !important;
}
.menu_siguenos {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
}
.menu_siguenos a > i {
  font-size: 110%;
  color: #fff;
}
.menu_siguenos a > i:hover {
  color: #adadad;
}

/* /////////////// ANIMACIONES ---------*/

.enlace_top,
.enlace_bottom,
.enlace_top > i,
.enlace_bottom > i,
a,
button,
#contenedor_logo,
img.logo_principal,
#navegador_top li > p,
#navegador_principal,
#navegador_1,
#navegador_2,
#navegador_1 > .fondo_blanco,
.fondo_navegador > .fondo_verde_2,
.fondo_verde_1 > .fondo_verde_2,
#navegador_bottom li a div > img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* /////////////// FIN ANIMACIONES ---------*/

/* ------------- FOOTER PRINCIPAL ----------------------------------------------*/
#footer_principal {
  width: 100%;
  height: 140px;
  display: table;
  background: #4e4e4e;
  position: relative;
  z-index: 99;  
}
#footer_principal ul {
  list-style: none;
}
.p_footer {
  font-size: 90%;
}
.enlace_footer {
}
.enlace_footer:hover,
.enlace_footer:focus {
  color: #adadad !important;
}

/* ------------- CONTENIDO ----------------------------------------------*/
.icono_principal {
  width: 60%;
  max-width: 140px;
  margin: 0 auto;
}
.icono_donar {
  width: 35px;
  float: left;
  margin-top: 0;
}
.icono_donar_2 {
  width: 30px;
  float: left;
  margin-top: 0;
}
.boton_donar {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
  background-color: #747c27;
}
a.enlace_donar:hover{
  color: #fff !important;
}
.margin_0 {
  margin: 0;
}
.margin_top_0 {
  margin-top: 0;
}
.margin_top_40 {
  margin-top: 40px;
}
.margin_top_60 {
  margin-top: 60px;
}
.margin_right_5 {
  margin-right: 5px;
}
.margin_right_8 {
  margin-right: 8px;
}
.margin_right_10 {
  margin-right: 10px;
}
.margin_right_15 {
  margin-right: 15px;
}
.margin_right_20 {
  margin-right: 20px;
}
.margin_bottom_0 {
  margin-bottom: 0;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_20 {
  margin-bottom: 20px;
}
.margin_left_5 {
  margin-left: 5px;
}
.margin_left_8 {
  margin-left: 8px;
}
.margin_left_10 {
  margin-left: 10px;
}
.margin_left_15 {
  margin-left: 15px;
}
.margin_left_30 {
  margin-left: 30px;
}
.padding_top_0 {
  padding-top: 0;
}
.padding_right_0 {
  padding-right: 0;
}
.padding_right_10 {
  padding-right: 10px;
}
.padding_right_15 {
  padding-right: 15px;
}
.padding_right_20 {
  padding-right: 20px;
}
.padding_bottom_0 {
  padding-bottom: 0;
}
.padding_left_0 {
  padding-left: 0;
}
.padding_left_15 {
  padding-left: 15px;
}
.padding_left_25 {
  padding-left: 25px;
}
.border_0 {
  border: 0;
}
.border_left_blanco {
  border-left: 1px solid #eee;
}
.imagenes_interiores {
  width: 100%;
}

/* quita el borde radius por defecto del bootstrap */
.well-sm, .well-lg {
  border-radius: 0 !important;
}
/* boton perzonalizado foccadi */
.btn-foccadi {
  color: #fff;
  background-color: #086777;
}
.btn-foccadi:hover,
.btn-foccadi:focus,
.btn-foccadi.focus,
.btn-foccadi:active,
.btn-foccadi.active,
.open > .dropdown-toggle.btn-foccadi {
  color: #fff;
  background-color: #747c27;
}
.btn-foccadi:active,
.btn-foccadi.active,
.open > .dropdown-toggle.btn-foccadi {
  background-image: none;
}
.btn-foccadi.disabled,
.btn-foccadi[disabled],
fieldset[disabled] .btn-foccadi,
.btn-foccadi.disabled:hover,
.btn-foccadi[disabled]:hover,
fieldset[disabled] .btn-foccadi:hover,
.btn-foccadi.disabled:focus,
.btn-foccadi[disabled]:focus,
fieldset[disabled] .btn-foccadi:focus,
.btn-foccadi.disabled.focus,
.btn-foccadi[disabled].focus,
fieldset[disabled] .btn-foccadi.focus,
.btn-foccadi.disabled:active,
.btn-foccadi[disabled]:active,
fieldset[disabled] .btn-foccadi:active,
.btn-foccadi.disabled.active,
.btn-foccadi[disabled].active,
fieldset[disabled] .btn-foccadi.active {
  background-color: #086777;
}
.btn-foccadi .badge {
  color: #086777;
  background-color: #fff;
}
.reparacion_altura_1 {
  position: relative;
}
.reparacion_altura_2 {
  position: absolute;
  top: -96px;
}

/* ------------- NOTICIAS ----------------------------------------------*/
.noticia_caja {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.noticia_foto {
  width: 40%;
  height: 300px;
  float: left;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.noticia_img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: block;
  padding: 0;
  margin: 0;
  background-size: auto 100%;
  background-position: center;
}
.noticia_contenido {
  width: 50%;
  float: right;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
}
.noticia_texto {
  font-size: 90%;
}
.noticia_subtexto {
  font-size: 80%;
  font-style: italic;
  line-height: 90%;
  color: #adadad;
}
.noticia_enlace {
  color: #086777;
}
.noticia_enlace:hover {
  color: #747c27;
}

.contacto_img {
  width: 100%;
  height: 420px;
  display: block;
  padding: 0;
  margin: 0;
  background-size: auto 100%;
  background-position: center;
}
.contacto_texto {
  font-size: 300% !important;
}

.login_fondo {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(../images/principales/fondo_login.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}
.modal_estilo_nav {
  border-radius: 0;
  background-color: #086777;
  border-color: #086777;
  margin-bottom: 40px;
}
.modal_estilo_nav div div a img.logo_FOCCADI_texto {
  padding: 0;
  margin: 0;
  height: 20px;
}
.modal_estilo_nav div div button span.icon-bar {
  background-color: #fff !important;
}
.modal_estilo_nav div div ul li a {
  color: #fff !important;
}
.modal_estilo_nav div div ul li:hover > a.cerrar_sesion {
  background-color: #cdcdcd;
}
.modal_estilo_nav div div ul li.dropdown.open a.dropdown-toggle {
  background-color: #747c27 !important;
}

.modal_estilo_nav div div ul li.dropdown.open ul.dropdown-menu {
  background-color: #d9534f !important;
  border: 0;
}
.modal_estilo_general div.modal-content {
  border: 0;
}
.caja_noticia_adm {
  padding: 20px 10px;
  border: 1px solid #eee;
}
.img_noticia_adm {
  width: 100%;
  height: 150px;
  max-height: 150px;
  display: block;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.icono_noticia_adm i.fa {
  line-height: 20px;
}
.icono_noticia_adm span {
  display: none;
}
.icono_noticia_adm:hover > span {
  display: inline-block;
}
.requisites {
  font-weight: normal;
}
button.btn {
  border: 0;
}


/* ------------- NAV JQUERY ----------------------------------------------*/
#navegador_principal.activado {
  height: 96px !important;
}
#corrector_altura.activado {
  height: 96px !important;
}
#navegador_1.activado {
  height: 96px !important;
}
.fondo_verde_2.activado {
  height: 36px !important;
}
#contenedor_logo.activado {
  width: 190px !important;
}
.logo_principal.activado {
  width: 100px !important;
}
.menu_siguenos.activado {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
#navegador_top li a.texto_blanco.activado {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  line-height: 20px !important;
}
#navegador_bottom.activado {
  top: 36px;
}
#navegador_bottom li .enlace_bottom.activado {
  height: 60px;
  line-height: 32px !important;
}
img.icono_donar.activado {
  margin-top: 0;
}



@media (min-width: 992px) {
  #navegador_principal {
    height: 140px;
  }
  #corrector_altura {
    height: 140px;
  }
  #navegador_1 {
    height: 140px; 
  }
  .fondo_verde_2 {
    height: 46px;
  }
  #contenedor_logo {
    width: 230px;
  }
  .logo_principal {
    width: 153px;
  }
  #navegador_top {
    display: block;
  }
  #navegador_top_2 {
    display: none;
  }
  #navegador_bottom {
    display: block;
  }
  #navegador_bottom_2 {
    display: none !important;
  }
  .menu_siguenos {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  #boton_menu {
    display: none;
  }
  .icono_donar {
    margin-top: 13px;
  }
  .enlace_top {
    line-height: 15px !important;
  }
}
@media (min-width: 1200px) {
  .enlace_bottom {
    font-size: 140%;
  }
}
@media (min-width: 1400px) {
  .container {
      width: 1360px;
  }
}